body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h2 {
    font-family: Lobster Two; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;margin-top:15px;
}

p {
    font-family: Lobster Two; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 26.4px; width:60%
}

.bg-light {
    background-color: #90C7CB!important;
}

.nav-item:hover {
    background-color: #BADCDE!important;
    border:solid !important;
    border-width: 1px!important;
    border-color: #499497!important;
    
}



.nav-item:hover a {
    padding:7px!important;
    
}

.bg-success {
    background-color: #BADCDE!important;
}