body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h2 {
    font-family: Lobster Two; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;margin-top:15px;
}

p {
    font-family: Lobster Two; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 26.4px; width:60%
}

.bg-light {
    background-color: #90C7CB!important;
}

.nav-item:hover {
    background-color: #BADCDE!important;
    border:solid !important;
    border-width: 1px!important;
    border-color: #499497!important;
    
}

.nav-item:hover a {
    padding:7px!important;
    
}

.bg-success {
    background-color: #BADCDE!important;
}

.row-portfolio {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.col-img {
  width:400px;
  height:400px;
  display: flex;
  width: 50%;
  justify-content: center;
  padding-left: 0px;
}

.col-img img{
  max-width: 100%;
  height:auto;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.col-text {
  color: #FFF;
  background-color: #90C7CB;
  display: flex;
  object-fit: contain;
  justify-content: center;
  align-items:center;
  height: auto;
  width:400px;
}

.col-text p{
  font-size: 30px;
  font-family: Lobster Two;
}

.container a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


h2 {
    font-family: Lobster Two; 
    font-size: 26px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    padding: 20px;
}

h1 { 
    font-family: Lobster Two; 
    font-size: 24px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    
} 

h3 { 
    font-family: Lobster Two; 
    font-size: 22px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 

p { 
    font-family: Lobster Two; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 

li { 
    font-family: Lobster Two; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
}